.row
  .span4
    = render :partial => "users/dashboard_panel", :locals => {:user => @user}    
    = render :partial => "shared/about"

  .span8
    = render :partial => "message_panel", :locals => {:messages => @messages}
