.row
  .span4
    = render :partial => "users/dashboard_panel", :locals => {:user => @user, :subscription => @subscription }
    = render :partial => "shared/about"
  .span8
    = render :partial => "messages/message_panel", :locals => {:messages => @messages, :subscription => @subscription }
